<%= form_with(model: note, local: true) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2>Please check the following <%= pluralize(note.errors.count, "error") %></h2>

      <ul>
        <% note.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <lable for="title">Title</label>
    <%= form.text_field :title %>
  </div>

  <div>
    <lable for="body">Take a note...</label>
    <%= form.text_area :body %>
  </div>
    
  <div>
    <lable for="tags">Tags (comma separated)</label>
    <%= form.text_field :tags %>
  </div>
    
  <%= form.submit 'Submit' %>
<% end %>
