<p id="notice"><%= notice %></p>

<h1>Notes</h1>
<p>You can filter notes by tag or search them</p>

<%= form_tag notes_path, method: :get do %>
  <div>
    <lable for="tag">Select Tag</label>
    <%= select_tag :tag, options_for_select(@all_tags, params[:tag]) %>
  </div>

  <div>
    <lable for="search">Search Notes</label>
    <%= text_field_tag :search, params[:search], placeholder: 'Enter note title or body...' %>
    <%= submit_tag 'Search' %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @notes %>

<br>

<%= link_to 'New Note', new_note_path %>
