<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2>
        Please check the following <%= pluralize(user.errors.count, "error") %>
      </h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <lable for="name">Full Name</label>
    <%= form.text_field :name %>
  </div>

  <div>
    <lable for="email">Email</label>
    <%= form.text_field :email %>
  </div>
    
  <div>
    <lable for="password">Password</label>
    <%= form.text_field :password %>
  </div>
    
  <%= form.submit %>
<% end %>
